# APP
DEBUG=False
ENVIRONMENT=development

# JWT
SECRET_KEY=changeme
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# DB
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=db
DATABASE_URL=postgresql+psycopg://user:pass@localhost:5433/db

# MLFLOW
MLFLOW_TRACKING_URI=file:./mlruns
MLFLOW_EXPERIMENT_NAME=product-recommendations

# ML MODEL
MODEL_PATH=app/ml/artifacts/model.pkl
MODEL_VERSION=latest

# DATA
DATA_PATH=data/raw/online_retail_II.xlsx